
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,400&display=swap");

* {
    font-family: 'Roboto';    
}

.sidebar {
    line-height: initial;
}

#wrapper #content-wrapper {
    background-color: initial;
}

.m-0 {
    color: #5a5c69;
}

.bg-championes {
    background-color: #dc64aa;
}

#sidebarToggleTop i::before {
    color: #000;
}

.categoria {
    max-width: 90%;
    margin: auto;
}

.color-championes {
    color: #BF488D;
}

a.color-championes:hover {
    color: #dc64aa;
}

.img-championes {
    margin: 0px!important;
}

p {
    margin-bottom: .5rem;
}

td {
    font-size: .9rem;
}

.lista-championes {
    padding: 0px;
    margin: 0px;
}

.item-championes {
    list-style: none;
}

.admin-champ {
    font-size: 20px;
    color: #858796
}